.myBox {
	width: 100px;
	height: 100px;
	padding: 30px 190px 50px 50px;

	background: rgb(189, 178, 178)
		url(https://github.com/4GeeksAcademy/css-tutorial-exercises-course/blob/3a2d1dd03f58167a5a4894155af2d3aa4d41d647/.learn/assets/baby.jpg?raw=true)
		no-repeat 100px / contain;
}
